body {
    background: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
}

.profile-card {
    max-width: 600px;
    overflow: hidden;
}

.wa-header {
    background: #075e54;
    color: white;
    padding: 40px 16px 20px;
    text-align: center;
}

#wrapper {
    background: url("images/bgwa.jpg") no-repeat center center;
    background-size: cover;
}

.online-text {
    color: #d9fdd3;
    font-size: 13px;
}

/* Foto profil */
.foto-profil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #fff;
}

.ads-banner {
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.ads-banner img {
    max-height: 120px;
    object-fit: contain;
}


/* Tombol chat */
.chat-btn {
    background: linear-gradient(to right, #25D366, #128C7E);
    font-size: 17px;
}